<strong>Olá, {{ student }}</strong>
<p>Sua matricula foi efetuada, confira os detalhes abaixo:</p>
<p>
  <strong>Data início: </strong>{{ start_date }}<br />
  <strong>Data fim: </strong>{{ end_date }}<br />
  <strong>Preço:</strong>{{price}}<br/>
  <br />
</p>
